@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
/*DEEP*/

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Rokkitt:wght@100&display=swap');/*LIGHT*/
/*font-family: 'Rokkitt', serif;*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap');/*FORE H2, H3, H4
font-family: 'Roboto Mono', monospace;*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Besley&display=swap');
/*LEFT AND RIGHT
font-family: 'Besley', serif;*/

@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&family=Yanone+Kaffeesatz:wght@300&display=swap');
/*TECHNOLOGYS
font-family: 'Balsamiq Sans', cursive;
*/


/*---------------------LOADER------------------------------------*/
.loader_bg
{
    position: fixed;
    z-index: 999999;
    background: #fff;
    width: 100%;
    height: 100%;
}

.loader
{
    border: 0 solid transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
}

.loader:before, .loader:after
{
    content: '';
    border: 1em solid #ff5733;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
}

.loader:before
{
    animation-delay: .5s;
}

@keyframes loader
{
    0%
    {
        transform: scale(0);
        opacity: 0;
    }

    50%
    {
        opacity: 1;
    }

    100%
    {
        transform: scale(1);
        opacity: 0;
    }
}















*
{
    box-sizing: border-box;
}

body
{
    background: linear-gradient(90deg, #b5e5fc 48%, #c1faf7 57%);
}

#header
{
    background: repeating-linear-gradient(
        -55deg,
        #222,
        #222 10px,
        #333 10px,
        #333 20px
    );
}

h1
{
    text-align: center;
    font-family: 'Oswald';
    color: white;
    padding: 5px;
}

.picture
{
    display: flex;
    justify-content: center;
}

.picture > img
{
    border: 3px solid black;
    border-radius: 4px;
    padding: 5px;
}

/*------------------------PERSONAL INFORMATION---------------------------*/
.pInfo
{
    box-sizing: border-box;
    border-radius: 15px 50px;
    border: solid black 2px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    margin-top: 80px;
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: -100px;
    background-color: rgba(138, 196, 197, 0.726);
}

.pInfo > p
{
    text-align: center;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;;
}


/*--------------------------------------LEFT CARD-------------------------------------------------*/

.left_card
{   
    
    position: relative;
    float: left;
    left: 176px;
    padding-top: 13px;
    width: 294px;
    margin-top: 109px;
    box-sizing: border-box;
}

.left_card > div
{
    height: 63px;
    margin-bottom: 25px;
    background-color: cadetblue;
}

.left_card > div > p
{
    font-size: 24px;
    text-align: center;
    padding-top: 10px;
    color: black;
}

.left_card > div:nth-child(3) > p
{
    font-size: 15px;
}


/*-----------------------------------MIDDLE CARD------------------------*/

.middle_card
{   
    position: relative;
    float: left;
    padding-top: 16px;
    margin-left: 300px;
    width: 294px;
    margin-top: 109px;
    box-sizing: border-box;
}

.middle_card > div
{
    height: 63px;
    margin-bottom: 25px;
    background-color: cadetblue;
}

.middle_card > div > p
{
    font-size: 24px;
    padding-top: 10px;
    color: black;
}

.middle_card > div > p
{
    font-size: 20px;
    text-align: center;
    padding-top: 15px;
}

.card
{
    font-family: 'Besley', serif;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}


/*-------------------------------------RIGHT CARD----------------------------------------*/

.right_card
{
    float: right;
    position: relative;
    width: 294px;
    margin-top: 130px;
    margin-right: 175px;
    box-sizing: border-box;
}

.right_card > div
{
    height: 63px;
    margin-bottom: 25px;
    background-color: cadetblue;
    text-align: center;
    font-size: 20px;
}

.right_card > div > p:first-child
{
    padding-top: 10px;
}

.right_card > div:nth-child(2)
{
    font-size: 15px;
}




/*-----------------------------------------EQ-------------------------------------------*/

.EQ
{
    margin-top: 600px;
    margin-right: 500px;
    margin-left: 500px;
    box-sizing: border-box;
    border-radius: 15px 50px;
    border: solid black 2px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    background-color: rgba(138, 196, 197, 0.726);
}

.EQ > p
{
    text-align: center;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
}

.EQD
{
 
    background-color: rgba(58, 83, 83, 0.897);
    margin-top: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    margin-left: 170px;
    margin-right: 130px;
    border-radius: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.EQD > div
{
    background-color: rgba(115, 185, 170, 0.932);
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 10px;
    box-shadow: rgba(151, 149, 149, 0.56) 0px 22px 70px 4px;
}


.EQD > div > p
{
    padding: 10px 10px;
    text-align: center;
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;    
}


/*-----------------------------------Prefrable Technology-----------------------*/

.PT
{
    margin-top: 200px;
    text-align: center;
    margin-right: 500px;
    margin-left: 500px;
    box-sizing: border-box;
    border-radius: 15px 50px;
    border: solid black 2px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    background-color: rgba(138, 196, 197, 0.726);
}

.PT > p
{
    text-align: center;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
}

.First_Tech_Card:hover
{
    transform: translateY(-15px);
    transition: transform 0.2s ease-in;
}


.First_Tech_Card
{
    background-color: skyblue;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 110px;
    height: 120px;
    margin-left: 300px;
    margin-top: 100px;
    border-radius: 10px;
    border: 1px solid black;
    font-family: 'Balsamiq Sans', cursive;
        
}

.First_Tech_Card > img
{
    width: 90px;
    height: 74px;
    margin-left: 9px
}

.First_Tech_Card > p
{
    text-align: center;
    margin-top: 5px;
}

.Second_Tech_Card
{
    margin-top: -119px;
    margin-left: 501px;
}

.Third_Tech_Card
{
    margin-top: -119px;
    margin-left: 697px;
}

.Fourth_Tech_Card
{
    margin-top: -115px;
    margin-left: 877px;
}

.Fifth_Tech_Card
{
    margin-left: 300px;
    margin-top: 100px;
}

.Sixth_Tech_Card
{
    margin-top: -119px;
    margin-left: 501px;
}

.Seventh_Tech_Card
{
    margin-top: -119px;
    margin-left: 697px;
}

.Eight_Tech_Card
{
    margin-top: -115px;
    margin-left: 877px;
}

section
{
    margin-left: 110px;   
}

/*--------------------------------------------FOOTER---------------------------------------*/

.footer-area
{
    margin-top: 300px;
    padding: 10px 0;
    box-sizing: border-box;
    background: #1e5799;
    background: -moz-linear-gradient(left,  #1e5799 24%, #207cca 44%, #207cca 44%, #2989d8 64%, #7db9e8 97%);
    background: -webkit-linear-gradient(left,  #1e5799 24%,#207cca 44%,#207cca 44%,#2989d8 64%,#7db9e8 97%);
    background: linear-gradient(to right,  #1e5799 24%,#207cca 44%,#207cca 44%,#2989d8 64%,#7db9e8 97%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 );
    position: relative;
}

.main
{
    width: 1200px;
    margin: 0 auto;
}

.footer
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

.single-footer:first-child
{
    width: 250px;
}

.single-footer h3
{
    color: black;
    font-family: 'Bebas Neue', cursive;
    width: 91px;
    font-size: xx-large;
}

h3
{
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 20px;
    text-align: center;
}

.single-footer > p
{
    color: wheat;
    line-height: 25px;
}

.socialmedia > a > i
{
    width: 50px;
    height: 10px;
    box-sizing: border-box;
    font-size: xx-large;    
}

.socialmedia > :first-child
{
    color: white;
}

.socialmedia > :nth-child(2)
{
    color: black;
}

.socialmedia > :nth-child(3)
{
    color: silver;
}

.socialmedia > :nth-child(4)
{
    color: tomato;
}

/*-----------------------------------------------------------------------------------*/

.main-menu ul
{
    list-style: none;
    line-height: 38px;
}

.main-menu ul li
{
    align-items: center;
}

.main-menu h3
{
    color: black;
    font-family: 'Bebas Neue', cursive;
    width: 178px;
    font-size: xx-large;
}

.footer ul li a
{
    color: wheat;
    text-decoration: none;
    text-transform: capitalize;    
    font-size: 17px;
}


/*----------------------------------------------------------------------------*/

.contact-me ul
{
    list-style: none;
}

.contact-me h3
{
    color: black;
    font-family: 'Bebas Neue', cursive;
    width: 187px;
    font-size: xx-large;
}

.contact-me > ul
{
    line-height: 38px;
}

.last
{
    text-align: center;
    padding-bottom: 0px;
}

